.InputSelectLabel {
	display: flex;
	align-items: center;
	gap: var(--interface-size-lg);
	cursor: pointer;
}

.InputSelectContainer {
	flex-grow: 1;
}

.InputSelectError {
	:global {
		[class*='-control'] {
			&,
			&:hover,
			&:focus {
				border-color: var(--danger-main);
			}
		}
		[class*='-indicatorSeparator'] {
			&,
			&:hover,
			&:focus {
				background-color: var(--danger-main);
			}
		}
		[class*='-indicatorContainer'] {
			&,
			&:hover,
			&:focus {
				color: var(--danger-main);
			}
		}
	}
}
