.InputSwitcher {
  display: inline-flex;
  align-items: center;
  gap: var(--interface-size-lg);
  cursor: pointer;

  input[type='checkbox']:checked + .InputSwitcherControl {
    &::before {
      right: 0;
      left: auto;
      background-color: var(--primary-main);
    }
  }
}

.InputSwitcherControl {
  display: inline-flex;
  position: relative;
  cursor: pointer;
  border-radius: var(--interface-size-sm);
  background-color: var(--gray-30);
  width: var(--size-middle);
  height: var(--space-small);

  &::before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    border-radius: 50%;
    background-color: var(--gray-50);
    width: var(--size-extra-small);
    height: var(--size-extra-small);
    content: '';
  }
}
