.InputPassword {
  border: 1px solid var(--gray-40);
  border-radius: var(--interface-size-sm);
  padding: var(--input-padding);
  width: 100%;
  min-height: var(--input-height);
  color: var(--gray-90);
  font-size: var(--font-size-md);
  font-family: var(--font-family);

  &:focus {
    outline: transparent;
    border-color: var(--gray-50);
  }
  &:disabled {
    background-color: var(--gray-20);
    color: var(--gray-70);
  }

  &::placeholder {
    color: var(--gray-60);
  }
}

.InputSuffix {
  position: absolute;
  right: 0;
  bottom: 0;
  cursor: pointer;
  border: none;
  background-color: transparent;
  width: var(--input-height);
  height: var(--input-height);
  font-size: var(--font-size-lg);
}

.InputPasswordError {
  border-color: var(--danger-main) !important;
}
