@import '@/styles/abstracts/mixins.scss';

.AdminSidebar {
  background-color: #232e51;
  height: 100dvh;
  max-height: calc(100dvh - 70px);
  overflow: auto;
  z-index: 2;
  @extend %scroll-bar;
  &::-webkit-scrollbar-thumb {
    background-color: #000;
  }

  & > .SidebarList > li {
    padding-left: 10px;
    padding-right: 10px;
  }

  & > .SidebarList {
    .SidebarList {
      margin-top: 3px;
      padding-left: 15px;
    }
  }
}

.SidebarList {
  @extend %listreset;

  & .SidebarList {
    // background-color: var(--gray-70);
    // padding-left: var(--space-small);

    .SidebarItemLink:hover,
    .SidebarItemBtn:hover {
      // background-color: var(--gray-80);
    }
  }
}

.SidebarItemLink,
.SidebarItemBtn {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: var(--space-small);
  cursor: pointer;
  border: none;
  background-color: transparent;
  padding: var(--space-small) var(--space-medium);
  width: 100%;
  border-radius: 5px;
  // font-weight: 600;
  font-size: 14px;
  letter-spacing: 1.2px;
  color: #97aac1;
  transition: var(--transition-base) all;

  &:hover,
  &:focus {
    background-color: #2f3a5f;
    color: #e2eeff;
  }
}

.SidebarItemLinkActive {
  background-color: #2f3a5f;
  color: #e2eeff;
}

.SidebarItemBtn {
  position: relative;

  &::after {
    position: absolute;
    right: var(--space-medium);
    transform: rotate(315deg);
    transform-origin: 50%;
    border-right: 1px solid var(--info-secondary);
    border-bottom: 1px solid var(--info-secondary);
    width: var(--interface-size-md);
    height: var(--interface-size-md);
    content: '';
  }
}

.SidebarItemBtnOpen {
  &::after {
    transform: rotate(45deg);
  }
}
