.Label {
  position: relative;
  &:not(:last-child),
  &:last-child[class*=' col-'] {
    margin-bottom: var(--size-small);
  }
}

.LabelName {
  cursor: pointer;
  margin-bottom: var(--space-extra-small);
  font-size: var(--font-size-lg);
}

.ErrorMessage {
  position: absolute;
  bottom: calc(var(--size-extra-small) * -1);
  left: 0;
  color: var(--danger-main);
  font-size: var(--font-size-sm);
}

.prefix {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  border-right: 1px solid var(--gray-40);
  width: var(--input-height);
  height: var(--input-height);
  pointer-events: none;
  color: var(--gray-60);
}
