@import '@styles/abstracts/mixins.scss';

.AccountNav {
  border: 1px solid var(--gray-40);
  @extend %listreset;
}

.AccountNavItem {
  &:not(:last-of-type) {
    .AccountNavLink {
      border-bottom: 1px solid var(--gray-40);
    }
  }
}

.AccountNavLink {
  display: flex;
  align-items: center;
  gap: var(--space-small);
  padding: var(--interface-size-lg) var(--space-medium);
  span {
    font-size: 18px;
  }

  &:hover {
    background-color: var(--gray-20);
  }

  &:active {
    background-color: var(--gray-30);
  }
}

.AccountNavLinkActive {
  border-color: var(--gray-60);
  background-color: var(--gray-90);
  color: var(--gray-10);

  &:hover {
    background-color: var(--gray-90);
  }

  &:active {
    background-color: var(--gray-90);
  }
}
