.InputText {
  border: 1px solid var(--gray-40);
  border-radius: var(--interface-size-sm);
  padding: var(--input-padding);
  width: 100%;
  min-height: var(--input-height);
  max-height: var(--input-height);
  color: var(--gray-90);
  font-size: var(--font-size-md);
  font-family: var(--font-family);

  &:focus {
    outline: transparent;
    border-color: var(--gray-50);
  }
  &:disabled {
    background-color: var(--gray-20);
    color: var(--gray-70);
  }

  &::placeholder {
    color: var(--gray-60);
  }
}

.InputTextDark {
  border-color: var(--gray-20);
  background-color: transparent;
  color: var(--gray-10);

  &::placeholder {
    color: var(--gray-20);
  }

  &:focus {
    border-color: var(--gray-40);
  }
}

.InputTextError {
  border-color: var(--danger-main) !important;
}

.rounded {
  border-radius: 30px;
  padding-right: var(--size-extra-small);
  padding-left: var(--size-extra-small);
}

.roundedLeftSide {
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  padding-left: var(--size-extra-small);
}

.roundedRightSide {
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
}

.withPrefix {
  padding-left: calc(var(--input-height) + var(--space-small));
}
