{
  "singleQuote": true,
  "jsxSingleQuote": true,
  "tabWidth": 2,
  "semi": true,
  "arrowParens": "always",
  "plugins": [
    "prettier-plugin-organize-imports",
    "prettier-plugin-css-order"
  ],
  "bracketSpacing": true,
  "endOfLine": "crlf",
  "bracketSameLine": true
}
