@import '@styles/abstracts/mixins.scss';

.ProductInfoPrice {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	gap: var(--space-medium);
}

.ProductInfoCurrentPrice {
	margin-bottom: 0;
}

.ProductInfoOldPrice {
	color: var(--gray-50);
}

.ProductInfoDiscount {
	display: flex;
	align-items: center;
	color: var(--success-main);
	gap: var(--interface-size-sm);

	span {
		color: var(--gray-60);
	}
}

.ProductInfoTimer {
	margin-left: auto;
	@include media('<tablet') {
		margin-left: 0;
	}
}
