.PaginateBase {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  color: var(--gray-90);
  list-style: none;
}

.PaginatePage,
.PaginateBreak,
.PaginateNext {
  &:not(:first-child) {
    margin-left: -1px;
  }
}

.PaginatePageLink,
.PaginateBreakLink,
.PaginatePrevLink,
.PaginateNextLink {
  display: block;
  cursor: pointer;
  border: 1px solid var(--primary-border);
  padding: var(--interface-size-md) calc(var(--interface-size-md) * 2);
  min-width: var(--size-middle);
  text-align: center;
  &:hover {
    background-color: var(--primary-main);
    color: var(--gray-10);
  }
}
.PaginatePageLinkActive {
  background-color: var(--primary-main);
  color: var(--gray-10);
}

.PaginateDisabled {
  cursor: auto;
  background-color: var(--primary-focus);
  &:hover {
    background-color: var(--primary-focus);
    color: var(--gray-90);
  }
}
