.AccountWishListProduct {
  transition: var(--transition-base);
  border-bottom: 1px solid var(--primary-main);
  color: var(--primary-main);
  &:hover,
  &:focus {
    border-color: transparent;
  }
}

.AccountWishUnitPrice {
  display: flex;
  align-items: center;
  gap: var(--space-small);
}

.AccountWishListActions {
  display: flex;
  gap: var(--interface-size-sm);
}

.AccountWishListBtn {
  transition: var(--transition-base);
  cursor: pointer;
  border: none;
  background-color: var(--gray-30);
  width: var(--size-small);
  height: var(--size-small);
  font-size: var(--font-size-sm);

  &:hover,
  &:focus {
    background-color: var(--gray-40);
  }
}

.AccountWishListBtnDelete {
  color: var(--danger-main);
}
