.InputTextarea {
  width: 100%;
  padding: var(--input-padding);
  border: 1px solid var(--gray-40);
  border-radius: var(--interface-size-sm);
  min-height: 100px;

  &:focus {
    border-color: var(--gray-50);
    outline: none;
  }

  &:disabled {
    color: var(--gray-70);
    background-color: var(--gray-20);
  }

  &::placeholder {
    color: var(--gray-60);
  }
}