.ButtonBase {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--space-extra-small);
  transition: var(--transition-base);
  cursor: pointer;
  border: var(--btn-border-width) solid transparent;
  border-radius: var(--btn-border-radius);
  padding: var(--space-extra-small) var(--space-small);
  min-width: var(--btn-height);
  min-height: var(--btn-height);
  max-height: var(--btn-height);
  font-weight: var(--btn-font-weight);
  font-size: var(--font-size-lg);

  &[disabled] {
    cursor: auto;
    background-color: var(--gray-20);
    color: var(--gray-50);
    &:hover,
    &:focus {
      background-color: var(--gray-20);
    }
  }

  &:focus {
    outline: transparent;
  }
}

.primary {
  background-color: var(--primary-main);
  color: var(--gray-10);

  &:hover {
    background-color: var(--primary-hover);
  }

  &:focus {
    box-shadow: 0 0 0 3px var(--primary-focus);
    background-color: var(--primary-pressed);
  }
}

.secondary {
  background-color: var(--primary-secondary);
  color: var(--primary-main);

  &:hover,
  &:focus {
    box-shadow: 0 0 0 3px var(--primary-focus);
    background-color: var(--primary-secondary);
    color: var(--primary-hover);
  }
}

.outline {
  border-color: var(--primary-border);
  background-color: var(--primary-secondary);
  color: var(--primary-main);

  &:hover {
    border-color: var(--primary-hover);
  }

  &:hover,
  &:focus {
    background-color: var(--primary-secondary);
    color: var(--primary-hover);
  }

  &[disabled] {
    border-color: var(--gray-40);
    color: var(--gray-50);
  }
}

.success {
  background-color: var(--success-main);
  color: var(--gray-10);

  &:hover,
  &:focus {
    background-color: var(--success-hover);
  }

  &:focus {
    box-shadow: 0 0 0 3px var(--success-focus);
  }
}

.danger {
  background-color: var(--danger-main);
  color: var(--gray-10);

  &:hover,
  &:focus {
    background-color: var(--danger-hover);
  }

  &:focus {
    box-shadow: 0 0 0 3px var(--danger-focus);
  }
}

.warning {
  background-color: var(--warning-main);
  color: var(--gray-90);

  &:hover,
  &:focus {
    background-color: var(--warning-hover);
  }

  &:focus {
    box-shadow: 0 0 0 3px var(--warning-focus);
  }
}

.info {
  background-color: var(--info-colors);
  color: var(--gray-10);

  &:hover,
  &:focus {
    background-color: var(--info-hover);
  }

  &:focus {
    box-shadow: 0 0 0 3px var(--info-focus);
  }
}

.light {
  background-color: var(--gray-30);
  color: var(--gray-90);

  &:hover,
  &:focus {
    background-color: var(--gray-50);
  }

  &:focus {
    box-shadow: 0 0 0 3px var(--gray-60);
  }
}

.dark {
  background-color: var(--gray-70);
  color: var(--gray-10);

  &:hover,
  &:focus {
    background-color: var(--gray-90);
  }

  &:focus {
    box-shadow: 0 0 0 3px var(--gray-60);
  }
}

.link {
  background-color: transparent;
  &:hover,
  &:focus {
    background-color: var(--gray-30);
  }

  &:focus {
    box-shadow: 0 0 0 3px var(--gray-40);
  }
}

.rounded {
  border-radius: 30px;
  padding-right: var(--size-extra-small);
  padding-left: var(--size-extra-small);
}

.roundedLeftSide {
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  padding-left: var(--size-extra-small);
}

.roundedRightSide {
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  padding-right: var(--size-extra-small);
}

.large {
  min-width: var(--btn-height-lg);
  min-height: var(--btn-height-lg);
  max-height: var(--btn-height-lg);
  font-size: var(--font-size-lg);
}

.loading {
  cursor: auto;
  background-color: var(--gray-20);
  pointer-events: none;
  color: var(--gray-50);
  user-select: none;

  span {
    animation: rotate 1s linear infinite;
  }
}

.block {
  width: 100%;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
