@import '@styles/abstracts/mixins.scss';

.HeaderPhone {
  display: flex;
  position: relative;
  align-items: center;
  gap: var(--space-medium);
  margin-right: 0;
  margin-left: auto;
  @include media('<tablet') {
    margin-top: auto;
    margin-right: auto;
    margin-bottom: var(--size-extra-small);
    margin-left: 0;
  }

  &[open] {
    .HeaderPhoneSummary {
      &::before {
        transform: rotate(135deg);
      }
    }
  }
}

.HeaderPhoneSummary {
  display: flex;
  align-items: center;
  gap: var(--space-small);
  cursor: pointer;
  padding-right: var(--size-extra-small);
  user-select: none;
  &::before {
    position: absolute;
    right: 0;
    transform: rotate(-45deg);
    transform-origin: 50%;
    border-bottom: 1px solid var(--gray-90);
    border-left: 1px solid var(--gray-90);
    width: var(--space-extra-small);
    height: var(--space-extra-small);
    content: '';
  }
}

.HeaderPhoneList {
  display: flex;
  position: absolute;
  top: 37px;
  right: 0;
  flex-direction: column;
  gap: var(--space-small);
  margin-top: 0;
  margin-bottom: 0;
  box-shadow: 3px 3px 3px var(--gray-30);
  border: 1px solid var(--gray-40);
  border-radius: var(--interface-size-sm);
  background-color: var(--gray-20);
  padding: var(--size-extra-small);
  list-style: none;
  @include media('<tablet') {
    top: auto;
    bottom: 37px;
  }
}

.HeaderPhoneIcon {
  font-size: 16px;
}
