@import '@styles/abstracts/mixins.scss';

.AdminLayout {
  display: grid;
  grid-template-columns: 250px 1fr;
  grid-template-rows: 70px calc(100dvh - 70px);
}

.AdminHeader {
  grid-column: 1 / 3;
}

.AdminSidebar {
  grid-column: 1 / 2;
}

.AdminMain {
  grid-column: 2 / 3;
  background-color: var(--gray-30);
  padding: var(--size-extra-small) var(--space-medium);
  overflow: auto;
  @extend %scroll-bar;
}
