.form-wrapper {
  border: 1px solid var(--gray-50);
  background-color: var(--gray-30);
  padding: var(--size-extra-small);

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-bottom: var(--size-extra-small);
  }

  form {
    display: flex;
    flex-direction: column;
  }
}
