@import '@/styles/abstracts/mixins.scss';

.ModalBackdrop {
  background-color: rgb(var(--gray-100), 0.5);
}

.ModalWindow {
  display: inline-flex;
  position: relative;
  flex-direction: column;
  border-radius: var(--interface-size-md);
  background-color: var(--gray-10);
  padding: var(--size-small);
  width: 100%;
  max-width: 430px;
  min-height: 200px;

  &:has(.ModalFooter) {
    padding-bottom: 0;
  }
}

.ModalBtn {
  position: absolute;
  top: 0;
  right: 0;
  transition: var(--transition-base);
  cursor: pointer;
  border: none;
  background-color: transparent;
  width: var(--size-middle);
  height: var(--size-middle);
  display: block;

  &:hover {
    color: var(--primary-hover);
  }
}

.ModalTitle {
  margin-top: 0;
}

.xxl {
  max-width: 95%;
  min-height: 80dvh;
}

.ModalContent {
  flex: 1;
  overflow-y: auto;
  @extend %scroll-bar;
}

.ModalFooter {
  display: flex;
  justify-content: flex-end;
  gap: var(--space-medium);
  margin-right: calc(var(--size-small) * -1);
  margin-left: calc(var(--size-small) * -1);
  border-top: 2px solid var(--gray-40);
  padding-top: 10px;
  padding-right: var(--size-small);
  padding-bottom: 10px;
  padding-left: var(--size-small);
  margin-top: auto;
}
