.InputCheckbox {
  display: inline-flex;
  align-items: center;
  cursor: pointer;

  input[type='checkbox'] {
    &:checked + .InputCheckboxLabel {
      &::before {
        border-color: var(--gray-90);
        background-color: var(--primary-main);
        color: var(--gray-10);
      }
    }
  }

  &:focus-within {
    .InputCheckboxLabel {
      &::before {
        border-color: var(--primary-border);
      }
    }
  }

  &:has(.InputCheckboxSuffix) {
    display: flex;
    width: 100%;
  }
}

.InputCheckboxLabel {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  gap: var(--space-small);
  padding-left: var(--size-small);
  width: 100%;
  font-size: var(--font-size-lg);
  user-select: none;

  &::before {
    display: flex;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    margin: auto;
    border: 1px solid var(--gray-90);
    border-radius: var(--interface-size-sm);
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24'%3E%3Cpath d='M20.293 5.293 9 16.586l-4.293-4.293-1.414 1.414L9 19.414 21.707 6.707l-1.414-1.414z' fill='%23fff'/%3E%3C/svg%3E");
    background-size: contain;
    width: var(--input-prefix-size);
    height: var(--input-prefix-size);
    content: '';
    color: transparent;
  }
}

.InputCheckboxSuffix {
  margin-right: 0;
  margin-left: auto;
  background-color: var(--gray-30);
  padding: 0 var(--interface-size-sm);
  min-height: var(--size-extra-small);
  color: var(--gray-70);
  font-size: var(--font-size-md);
}
