.AdminTableLayout {
  display: flex;
  flex-direction: column;

}
.AdminTableLayoutHeader {
  border-bottom: 1px solid var(--gray-40);
}
.AdminTableLayoutFooter {
  padding-top: var(--size-small);
  background-color: var(--gray-10);
  padding: var(--space-medium);
}
