.rc-slider {
  &-rail {
    border-radius: var(--space-extra-small);
    background-color: var(--gray-40);
  }
  &-handle {
    border-color: var(--primary-main);
    border-radius: 50%;
    background-color: var(--gray-10);
    &-dragging {
      box-shadow: 0 0 0 2px var(--primary-border) !important;
      border-color: var(--color-primary) !important;
    }
    &:hover {
      box-shadow: 0 0 0 2px var(--primary-border) !important;
      border-color: var(--primary-main);
    }
  }
  &-track {
    background-color: var(--primary-main);
  }
  &-disabled {
    background-color: transparent;
  }
}
