.InputTextarea {
  border: 1px solid var(--gray-40);
  border-radius: var(--interface-size-sm);
  padding: var(--input-padding);
  width: 100%;
  min-height: 100px;
  color: var(--gray-90);
  font-size: var(--font-size-md);
  font-family: var(--font-family);

  &:focus {
    outline: none;
    border-color: var(--gray-50);
  }

  &:disabled {
    background-color: var(--gray-20);
    color: var(--gray-70);
  }

  &::placeholder {
    color: var(--gray-60);
  }
}

.InputTextareaError {
  border-color: var(--danger-main) !important;
}
