.RadioGroup {
	display: grid;
	gap: var(--gap-middle);
	grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

.InputRadio {
	display: inline-flex;
	align-items: center;
	cursor: pointer;

	input[type='radio'] {
		&:checked + .InputRadioLabel {
			&::after {
				border-color: var(--gray-90);
				background-color: var(--primary-main);
			}
		}
	}

	&:focus-within {
		.InputRadioLabel {
			&::before {
				border-color: var(--primary-border);
			}
		}
	}
}

.withSuffix {
	display: flex;
	.InputRadioLabel {
		display: flex;
		align-items: center;
		width: 100%;
		gap: var(--space-small);
	}
}

.InputRadioLabel {
	position: relative;
	font-size: var(--font-size-lg);
	padding-left: var(--size-small);

	&::before,
	&::after {
		content: '';
		position: absolute;
		top: 0;
		bottom: 0;
		margin: auto;
		border-radius: 50%;
	}

	&::before {
		left: 0;
		width: var(--input-prefix-size);
		height: var(--input-prefix-size);
		border: 1px solid var(--gray-90);
		border-radius: 50%;
	}

	&::after {
		left: var(--space-extra-small);
		width: calc(var(--input-prefix-size) * 0.5);
		height: calc(var(--input-prefix-size) * 0.5);
		background-color: transparent;
	}
}

.InputRadioSuffix {
	margin-right: 0;
	margin-left: auto;
	color: var(--gray-70);
	font-size: var(--font-size-md);
	background-color: var(--gray-30);
	min-height: var(--size-extra-small);
	padding: 0 var(--interface-size-sm);
}
