.AdminHeader {
	display: grid;
	grid-template-columns: 100px 1fr;
	background-color: var(--gray-10);
	box-shadow: 0 0 var(--interface-size-sm) 0 var(--gray-40);
	padding: var(--space-small) var(--space-medium);
}

.AdminHeaderLogo {
	color: var(--primary-main);
	// display: flex;
	// max-width: 100px;
}

.AdminHeaderControls {
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

