.Label {
  position: relative;
  cursor: pointer;
}

.LabelName {
  margin-bottom: var(--space-extra-small);
  font-size: var(--font-size-lg);
}

.LabelSuffix {
  position: absolute;
  right: 0;
  width: var(--input-height);
  height: var(--input-height);
  bottom: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-size: var(--font-size-lg);
}