.Footer {
	padding-top: var(--size-middle);
	background-color: var(--gray-70);
}

.FooterTop {
	display: grid;
	grid-template-columns: 150px 1fr 200px;
	align-items: flex-start;
	gap: var(--size-extra-small);
}

.FooterSocialList {
	margin-left: auto;
	margin-right: 0;
}
