@import '@/styles/abstracts/include-media-or.scss';

.Footer {
	padding: var(--size-middle) 0;
	background-color: var(--info-pressed);
}

.FooterTop {
	display: grid;
	grid-template-columns: 150px 3fr 1fr;
	align-items: flex-start;
	gap: var(--size-extra-small);
	margin-bottom: var(--size-middle);

	@include media('<desktop') {
		grid-template-columns: 150px 1fr;
	}

	@include media('<tablet') {
		grid-template-columns: 1fr;
	}

	& > *:last-child {
		@include media('<desktop') {
			grid-column: 1 / 2;
		}
	}
}

.FooterSocialList {
	margin-left: auto;
	margin-right: 0;
	@include media('<tablet') {
		margin-right: auto;
		margin-left: 0;
	}
}

.FooterBottom {
	display: grid;
	grid-template-columns: 3fr 1fr 1fr 2fr;
	gap: var(--size-extra-small);
	@include media('<desktop') {
		grid-template-columns: 1fr 1fr 1fr;
		gap: var(--size-middle) var(--size-extra-small);
	}

	@include media('<tablet') {
		grid-template-columns: 1fr 1fr;
	}

	@include media('<phone') {
		grid-template-columns: 1fr;
	}

	*:first-child {
		@include media('<desktop') {
			grid-column: 1 / 4;
		}

		@include media('<tablet') {
			grid-column: 1 / 3;
		}

		@include media('<phone') {
			grid-column: auto;
		}
	}
}
