.CartSideDrawerItem {
	display: grid;
	grid-template-columns: 55px 2fr 1fr 1fr;
	align-items: flex-start;
	gap: var(--space-medium);
	padding: var(--space-small);
	border-bottom: 1px solid var(--gray-40);
}

.CartSideDrawerItemImage {
	display: flex;
	align-items: center;
	svg {
		max-width: 55px;
		max-height: 55px;
	}
}
