.InputPassword {
  min-height: var(--input-size);
  padding: var(--input-padding);
  border: var(--input-border);
  font-size: var(--base-font-size);

  &:focus {
    border-color: var(--input-border-focus);
    outline: transparent;
  }
  &:disabled {
    background-color: var(--input-disabled);
  }
  &::placeholder {
    color: var(--input-placeholder);
  }
}