.InputPassword {
  min-height: var(--input-size);
  padding: var(--input-padding);
  border: var(--input-border);

  &:focus {
    border-color: var(--input-border-focus);
    outline: transparent;
  }
  &:disabled {
    background-color: var(--input-disabled);
  }
}