.InputNumber {
	display: flex;
	align-items: stretch;
	gap: var(--interface-size-sm);

	input[type='number'] {
		padding: var(--input-padding-sm);
		border: 1px solid var(--gray-40);
		font-size: var(--font-size-md);
		font-family: var(--font-family);
		color: var(--gray-90);
		border-radius: var(--interface-size-sm);
		width: 100%;

		-moz-appearance: textfield;
		&::-webkit-outer-spin-button,
		&::-webkit-inner-spin-button {
			-webkit-appearance: none;
		}

		&:focus {
			border-color: var(--gray-50);
			outline: transparent;
		}
		&:disabled {
			color: var(--gray-70);
			background-color: var(--gray-20);
		}

		&::placeholder {
			color: var(--gray-60);
		}
	}
}
