.AdminAuthForm {
	padding-top: var(--size-extra-small) !important;
	padding-bottom: var(--size-extra-small) !important;
	border: 1px solid var(--gray-50);
	border-radius: var(--interface-size-md);
}

.ForgotPassword {
	margin-bottom: var(--space-medium);
}
