.ProductReviewForm {
	display: flex;
	flex-direction: column;
}

.ProductReviewFormRating {
	margin-bottom: var(--size-extra-small);
}

.ProductReviewFormTitle {
	margin-bottom: var(--size-extra-small);
}
