.ProductReviewFormSection {
	padding: var(--size-extra-small);
	border: 1px solid var(--gray-50);
	background-color: var(--gray-30);
}

.ProductReviewForm {
	display: flex;
	flex-direction: column;
}

.ProductReviewFormRating {
	margin-bottom: var(--size-extra-small);
}

.ProductReviewFormTitle {
	margin-bottom: var(--size-extra-small);
}
