@import '@styles/abstracts/mixins.scss';
.ModalBackdrop {
	position: fixed;
	top: 0;
	left: 0;
	min-width: 100dvw;
	min-height: 100dvh;
	background-color: rgb(var(--gray-100), 0.5);
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 100;
}

.ModalWindow {
	display: flex;
	flex-direction: column;
	position: relative;
	background-color: var(--gray-10);
	padding: var(--size-small);
	border-radius: var(--interface-size-md);
	max-width: 430px;
	width: 100%;
	min-height: 200px;

	&:has(.ModalFooter) {
		padding-bottom: 0;
	}
}

.ModalBtn {
	position: absolute;
	top: 0;
	right: 0;
	border: none;
	background-color: transparent;
	width: var(--size-middle);
	height: var(--size-middle);
	cursor: pointer;
	transition: var(--transition-base);
	&:hover,
	&:focus {
		color: var(--primary-hover);
	}
}

.ModalTitle {
	margin-top: 0;
}

.xxl {
	// max-width: calc(100% - calc(var(--size-extra-small) * 2));
	max-width: 95%;
	min-height: 80dvh;
}

.ModalContent {
	flex: 1;
	overflow-y: auto;
	@extend %scroll-bar;
}

.ModalFooter {
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: var(--size-small);
	padding-right: var(--size-small);
	margin-left: calc(var(--size-small) * -1);
	margin-right: calc(var(--size-small) * -1);
	border-top: 2px solid var(--gray-40);
}
