@import '@styles/abstracts/mixins.scss';
.InputColors {
	display: flex;
	flex-wrap: wrap;
	gap: var(--space-extra-small);
	align-items: flex-start;
	@extend %listreset;
}

.InputColorsItem {
	display: flex;
}

.InputColorsLabel {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;

	input[type='checkbox'] {
		display: none;

		&:checked + .InputColorsImage {
			border-color: var(--gray-90);
		}
	}

	input[type='radio'] {
		display: none;

		&:checked + .InputColorsImage {
			border-color: var(--gray-90);
		}
	}
}

.InputColorsImage {
	border: 1px solid transparent;
	padding: 1px;

	div {
		width: var(--size-small);
		height: var(--size-small);
	}
}

.InputColorsImageRounded {
	border-radius: 50%;
	div {
		border-radius: 50%;
	}
}
