@import '@/styles/abstracts/mixins.scss';

.HeaderControls {
  display: flex;
  margin-right: 0;
  margin-left: auto;
  @include media('<tablet') {
    order: 2;
    margin-right: var(--size-extra-small);
  }
}

.HeaderControlsBtn {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: none;
  background-color: transparent;
  padding: 0;
  width: var(--size-big);
  height: var(--size-big);
  font-size: 18px;
  &:not(:first-of-type) {
    &::before {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      margin: auto;
      background-color: var(--gray-40);
      width: 1px;
      height: 75%;
      content: '';
    }
  }
  &:hover {
    color: var(--primary-main);
  }
}

.CartItemTotal {
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
  justify-content: center;
  align-items: center;
  border-radius: var(--space-small);
  background-color: var(--primary-border);
  padding: var(--interface-size-sm);
  min-width: var(--size-extra-small);
  min-height: var(--size-extra-small);
  font-size: var(--font-size-sm);
}
