@import '@styles/abstracts/mixins.scss';
.FooterCol {
	color: var(--gray-10);
}

.FooterTitle {
	padding-bottom: var(--space-small);
	margin-bottom: var(--space-medium);
	color: var(--gray-10);
	border-bottom: 2px solid var(--info-colors);
}

.FooterDescription {
	margin-top: 0;
	margin-bottom: 0;
	line-height: 1.65;
}

.FooterList {
	@extend %listreset;
	display: flex;
	flex-direction: column;
	gap: var(--space-small);
}

.FooterListItem {
	display: flex;
	align-items: center;
	gap: var(--space-small);
}

.FooterListLink {
	position: relative;
	display: block;
	padding-bottom: var(--space-extra-small);
	transition: var(--transition-base);

	&::before {
		content: '';
		position: absolute;
		bottom: 0;
		height: 2px;
		background-color: var(--warning-main);
		width: 0;
		transition: var(--transition-base);
	}

	&:hover,
	&:focus {
		color: var(--warning-main);

		&::before {
			width: 100%;
		}
	}

	&:focus {
		outline-color: transparent;
	}
}
