.AdminAuthWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--gray-20);
  min-height: 100dvh;
}

.AdminAuthContainer {
  border: 1px solid var(--gray-50);
  border-radius: var(--interface-size-md);
  background-color: var(--gray-10);
  padding-top: var(--size-extra-small);
  padding-bottom: var(--size-extra-small);
}
