.SidebarToggler {
  position: relative;
  border-bottom: 1px solid var(--gray-40);

  &:has(.SidebarResetBtn) {
    display: grid;
    grid-template-columns: 1fr 45px;
    align-items: center;

    .SidebarContentWrapper {
      grid-column: 1 / 3;
    }

    .SidebarCollapseBtn {
      &::after {
        display: none;
      }
    }
  }
}

.SidebarCollapseBtn {
  display: flex;
  position: relative;
  align-items: center;
  gap: var(--space-small);
  z-index: 10;
  cursor: pointer;
  border: none;
  background-color: transparent;
  padding: var(--size-small) var(--space-medium);
  width: 100%;
  font-size: var(--heading-6);

  &::after {
    position: absolute;
    top: 0;
    right: var(--space-medium);
    bottom: 0;
    transform: rotate(135deg);
    transform-origin: 50%;
    transition: var(--transition-base);
    margin: auto;
    border-top: 1px solid var(--gray-90);
    border-right: 1px solid var(--gray-90);
    width: var(--space-small);
    height: var(--space-small);
    content: '';
  }

  &:focus {
    outline-color: var(--gray-50);
  }
}

.buttonClose {
  &::after {
    transform: rotate(-45deg);
  }
}

.SidebarResetBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: none;
  background-color: transparent;
  background-color: var(--gray-10);
  width: 100%;
  min-height: 45px;
  color: var(--danger-main);
  font-size: var(--font-size-sm);
}

.SidebarContent {
  padding: 0 var(--space-medium) var(--space-medium) var(--space-medium);
}
