.TableBase {
  :global {
    table {
      border-collapse: collapse;
      width: 100%;
    }
    .rc-table-thead {
      .rc-table-cell {
        background-color: var(--gray-30);
        font-weight: 500;
      }
    }
    .rc-table-cell {
      border: 1px solid var(--gray-40);
      padding: var(--space-small) var(--space-medium);
      font-weight: 400;
      text-align: left;
    }
  }
}
