.ImagesManagerDownload {
	padding-top: var(--size-middle);
}

.ImagesManagerMedia {
	display: grid;
	grid-template-columns: 1fr 300px;
}

.ImagesManagerMediaFilter {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
}
