.SidebarToggler {
	position: relative;
	border-bottom: 1px solid var(--gray-40);

	&:has(.SidebarResetBtn) {
		display: grid;
		grid-template-columns: 1fr 45px;
		align-items: center;

		.SidebarContentWrapper {
			grid-column: 1 / 3;
		}

		.SidebarCollapseBtn {
			&::after {
				display: none;
			}
		}
	}
}

.SidebarCollapseBtn {
	position: relative;
	display: flex;
	align-items: center;
	gap: var(--space-small);
	width: 100%;
	padding: var(--size-small) var(--space-medium);
	border: none;
	background-color: transparent;
	cursor: pointer;
	font-size: var(--heading-6);
	z-index: 10;

	&::after {
		content: '';
		position: absolute;
		top: 0;
		bottom: 0;
		right: var(--space-medium);
		margin: auto;
		width: var(--space-small);
		height: var(--space-small);
		border-top: 1px solid var(--gray-90);
		border-right: 1px solid var(--gray-90);
		transform-origin: 50%;
		transform: rotate(135deg);
		transition: var(--transition-base);
	}

	&:focus {
		outline-color: var(--gray-50);
	}
}

.buttonClose {
	&::after {
		transform: rotate(-45deg);
	}
}

.SidebarResetBtn {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	min-height: 45px;
	border: none;
	background-color: transparent;
	color: var(--danger-main);
	font-size: var(--font-size-sm);
	cursor: pointer;
	background-color: var(--gray-10);
}

.SidebarContentWrapper {
	overflow: hidden;
	max-height: 200px;
	transition: max-height 0.3s linear;
}

.contentClose {
	max-height: 0;
}

.SidebarContent {
	padding: 0 var(--space-medium) var(--space-medium) var(--space-medium);
}

.SidebarFilterItem {
	display: flex;
	align-items: center;
	gap: var(--space-small);
}

.SidebarFilterItemAmount {
	margin-right: 0;
	margin-left: auto;
	color: var(--gray-70);
	font-size: var(--font-size-md);
	background-color: var(--gray-30);
	min-height: var(--size-extra-small);
	padding: 0 var(--interface-size-sm);
}
