@import '@styles/abstracts/mixins.scss';

.ContainerBase {
	max-width: 1170px;
	padding-left: var(--size-extra-small);
	padding-right: var(--size-extra-small);
	margin: 0 auto;
	width: 100%;

	@include media('<tablet') {
		padding-left: var(--space-medium);
		padding-right: var(--space-medium);
	}
}

.small {
	max-width: 600px;
}
