@import '@styles/abstracts/mixins.scss';

.ContainerBase {
	max-width: 1170px;
	padding: 0 var(--size-extra-small);
	margin: 0 auto;

	@include media('<tablet') {
		padding: 0 var(--space-medium);
	}
}
