.InputEditEditor {
  border: 1px solid var(--gray-40);
  border-radius: var(--interface-size-sm);
  padding: var(--input-padding);
  min-height: 250px;
  font-size: var(--font-size-md);
  &:focus {
    border-color: var(--gray-50);
  }
}

.InputEditToolbar {
  border: 1px solid var(--gray-40);
  border-radius: var(--interface-size-sm);
}
