@import '../../../../styles/abstracts/include-media-or.scss';

.HeaderPhone {
  display: flex;
  align-items: center;
  gap: var(--space-medium);
  margin-left: auto;
  margin-right: 0;
  @include media('<tablet') {
    margin-top: auto;
    margin-bottom: var(--size-extra-small);
    margin-left: 0;
    margin-right: auto;
  }
}

.HeaderPhoneList {
  margin-top: 0;
  margin-bottom: 0;
  list-style: none;
  padding-left: 0;
}

.HeaderPhoneIcon {
  color: var(--gray-80);
  font-size: 20px;
}