.DropdownBase {
  position: relative;
}

.DropdownBtn {
  display: flex;
  position: relative;
  align-items: center;
  gap: var(--space-extra-small);
  cursor: pointer;
  border: none;
  background-color: transparent;
  padding-right: var(--size-extra-small);
  color: var(--gray-90);
  font-size: var(--font-size-lg);
  font-family: var(--font-family);

  &::after {
    position: absolute;
    top: var(--space-extra-small);
    right: 0;
    transform: rotate(-45deg);
    transform-origin: 50%;
    margin: auto;
    border-bottom: 1px solid var(--gray-90);
    border-left: 1px solid var(--gray-90);
    width: var(--interface-size-md);
    height: var(--interface-size-md);
    content: '';
  }

  &.DropdownBtnLight {
    color: var(--gray-10);
    &::after {
      border-color: var(--gray-10);
    }
  }

  &.DropdownBtnOpen {
    &::after {
      top: var(--space-small);
      transform: rotate(135deg);
    }
  }
}

.DropdownList {
  position: absolute;
  border: 1px solid var(--gray-40);
  border-radius: var(--interface-size-sm);
  background-color: var(--gray-10);
  padding-left: 0;
  min-width: 200px;
  overflow: hidden;
  list-style: none;

  a,
  button {
    display: flex;
    align-items: center;
    gap: var(--space-small);
    padding: var(--space-small) var(--space-medium);
    &:hover {
      background-color: var(--primary-main);
      color: var(--gray-10);
    }
  }

  button {
    cursor: pointer;
    border: none;
    background-color: transparent;
    width: 100%;
    font-size: var(--font-size-lg);
    font-family: var(--font-family);
    text-align: left;
  }
}

.left {
  left: 0;
}

.right {
  right: calc(var(--space-medium) * -1);
}
