@import '@styles/abstracts/mixins.scss';

.AdminSidebar {
  background-color: var(--gray-90);
  height: 100vh;
  max-height: 100vh;
  overflow: auto;
  @extend %scroll-bar;
  &::-webkit-scrollbar-thumb {
    background-color: #000;
  }

  & > .SidebarList > li {
    border-bottom: 1px solid var(--gray-60);
  }
}

.SidebarList {
  @extend %listreset;

  & .SidebarList {
    background-color: var(--gray-70);
    padding-left: var(--space-small);
  }
}

.SidebarItemLink,
.SidebarItemBtn {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: var(--space-small);
  cursor: pointer;
  border: none;
  background-color: transparent;
  padding: var(--space-small) var(--space-medium);
  width: 100%;
  color: var(--info-secondary);
  font-size: var(--font-size-lg);
}

.SidebarItemBtn {
  position: relative;

  &::after {
    position: absolute;
    right: var(--space-medium);
    transform: rotate(315deg);
    transform-origin: 50%;
    border-right: 1px solid var(--info-secondary);
    border-bottom: 1px solid var(--info-secondary);
    width: var(--interface-size-md);
    height: var(--interface-size-md);
    content: '';
  }
}

.SidebarItemBtnOpen {
  &::after {
    transform: rotate(45deg);
  }
}
