.BreadcrumbsList {
  display: flex;
  margin: 0;
  padding-left: 0;
  color: var(--gray-90);
  font-size: var(--font-size-md);
  list-style: none;
}

.BreadcrumbsItem {
  position: relative;
  margin-right: var(--space-small);
  padding-right: var(--space-medium);

  &:not(:last-of-type) {
    &::after {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      content: '/';
    }
  }
}

.BreadcrumbsLink {
  &:hover {
    color: var(--primary-main);
  }
}
