.SidebarFilter {
  border: 1px solid var(--gray-40);
}

.SidebarFilterItem {
  display: flex;
  align-items: center;
  gap: var(--space-small);

  :global {
    .Label {
      margin-bottom: 0;
    }
  }
}

.SidebarFilterItemAmount {
  margin-right: 0;
  margin-left: auto;
  background-color: var(--gray-30);
  padding: 0 var(--interface-size-sm);
  min-height: var(--size-extra-small);
  color: var(--gray-70);
  font-size: var(--font-size-md);
}

.suffix {
  margin-right: 0;
  margin-left: auto;
  background-color: var(--gray-30);
  padding: 0 var(--interface-size-sm);
  min-height: var(--size-extra-small);
  color: var(--gray-70);
  font-size: var(--font-size-md);
}
