.Tabs {
  display: flex;
  margin-bottom: calc(var(--interface-size-sm) * -1);
  border-bottom: var(--interface-size-sm) solid var(--gray-30);
}

.Tab {
  position: relative;
  cursor: pointer;
  border: none;
  background-color: transparent;
  padding: var(--space-small);
  font-size: var(--font-size-lg);
  font-family: inherit;
  &::before {
    position: absolute;
    right: 0;
    bottom: calc(var(--interface-size-sm) * -1);
    left: 0;
    transition: var(--transition-base);
    border-bottom: var(--interface-size-sm) solid transparent;
    content: '';
  }
  &:focus {
    outline: transparent;
  }
  &:focus,
  &:hover {
    &:not(.TabActive) {
      &::before {
        border-color: var(--primary-border);
      }
    }
  }
}

.TabActive {
  &::before {
    border-color: var(--primary-main);
  }
}

.TabDescription {
  flex: 1;
  padding: var(--space-medium) 0;
}
