.SocialList {
	display: flex;
	gap: var(--space-small);
	padding-left: 0;
	margin-top: 0;
	margin-bottom: 0;
	list-style: none;
}

.SocialLink {
	display: flex;
	align-items: center;
	justify-content: center;
	width: var(--size-middle);
	height: var(--size-middle);
	border-radius: 50%;
	background-color: var(--gray-40);
	color: var(--gray-80);
	transition: var(--transition-base);

	&:hover,
	&:focus {
		background-color: var(--warning-hover);
		color: var(--gray-90);
	}

	&:focus {
		outline: transparent;
	}
}
