.CartProductsTableProduct {
	color: var(--primary-main);
	border-bottom: 1px solid var(--primary-main);
	transition: var(--transition-base);
	&:hover,
	&:focus {
		border-color: transparent;
	}
}

.CartProductsTableAmount {
	display: flex;
	font-weight: 700;
}

.CartProductsTableQuantity {
	display: grid;
	grid-template-columns: 1fr 38px 38px;
	gap: var(--interface-size-sm);
}
