:root {
  /* colors */
  --primary-main: #3b24ad;
  --primary-secondary: #f8f5ff;
  --primary-border: #b6abed;
  --primary-hover: #3918d9;
  --primary-pressed: #230f80;
  --primary-focus: #e7e3fc;

  --danger-main: #f36161;
  --danger-secondary: #e9d1d1;
  --danger-border: #dbb2b2;
  --danger-hover: #611111;
  --danger-pressed: #490c0c;
  --danger-focus: #c88c8c;

  --warning-main: #eabb42;
  --warning-secondary: #fbf1d9;
  --warning-border: #f8e8c0;
  --warning-hover: #b69237;
  --warning-pressed: #a9945f;
  --warning-focus: #f8e8c0;

  --success-main: #35b932;
  --success-secondary: #d7f1d6;
  --success-border: #9ADC98;
  --success-hover: #4AAA48;
  --success-pressed: #6DA66C;
  --success-focus: #9ADC98;

  --info-colors: #194689;
  --info-secondary: #d1dae7;
  --info-border: #b2c1d8;
  --info-hover: #112f5b;
  --info-pressed: #0c2344;
  --info-focus: #b2c1d8;

  --gray-100: 10, 10, 10;
  --gray-90: #424242;
  --gray-80: #616161;
  --gray-70: #757575;
  --gray-60: #9e9e9e;
  --gray-50: #c2c2c2;
  --gray-40: #e0e0e0;
  --gray-30: #ededed;
  --gray-20: #fafafa;
  --gray-10: #ffffff;

  /* typography */
  --font-family: 'Manrope', sans-serif;
  --font-size-sm: 12px;
  --font-size-md: 14px;
  --font-size-lg: 16px;
  --heading-1: 36px;
  --heading-2: 28px;
  --heading-3: 20px;

  /* grid */
  --interface-size-sm: 3px;
  --interface-size-md: 6px;
  --interface-size-lg: 12px;
  --size-extra-small: 20px;
  --size-small: 30px;
  --size-middle: 40px;
  --size-big: 50px;
  --space-small: 10px;
  --space-medium: 15px;
  --space-extra-small: 5px;
  --space-big: 25px;
  --transition-base: .2s ease;

  /* button */
  --btn-height: 36px;
  --btn-height-lg: 40px;
  --btn-border-radius: 4px;
  --btn-border-width: 1px;
  --btn-font-weight: 500;

  /* input */
  --input-padding: 6px 44px 6px 12px;
  --input-height: 38px;
}