.BlogCard {
  display: flex;
  flex-direction: column;
}

.BlogCardImage {
  position: relative;
  display: block;
  min-height: 315px;
  max-height: 315px;
  border-radius: var(--space-medium);
  overflow: hidden;
  background-color: var(--gray-50);

  img {
    display: block;
    max-width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    object-fit: cover;
  }
}

.BlogCardInfo {
  display: flex;
  padding: var(--size-extra-small) 0;
}

.BlogCardInfoItem {
  display: flex;
  align-items: center;
  gap: var(--space-small);

  &:not(:last-of-type) {
    padding-right: var(--space-small);
    margin-right: var(--space-small);
    border-right: 1px solid var(--gray-90);
  }
}