.AlertBase {
  position: fixed;
  top: var(--space-medium);
  right: var(--space-medium);
  z-index: 10;
}

.AlertItem {
  position: relative;
  border-radius: var(--interface-size-sm);
  padding: var(--space-medium) calc(var(--space-medium) * 2) var(--space-medium)
    var(--space-medium);
  max-width: 250px;
  color: var(--gray-10);
  animation: alert 1s;

  &:not(:last-of-type) {
    margin-bottom: var(--space-medium);
  }
}

.error {
  background-color: var(--danger-bg);
}

.success {
  background-color: var(--success-bg);
}

.AlertButton {
  position: absolute;
  top: var(--space-extra-small);
  right: var(--space-extra-small);
  cursor: pointer;
  border: none;
  background-color: transparent;
  padding: 0;
  width: var(--space-big);
  height: var(--space-big);
  color: var(--gray-10);
  font-size: 10px;
}

@keyframes alert {
  from {
    opacity: 0;
    transition: translateX(var(--size-middle));
  }
  to {
    opacity: 1;
    transition: translateX(0);
  }
}
