.InputCheckbox {
  display: inline-flex;
  align-items: center;
  cursor: pointer;

  input[type="checkbox"] {
    display: none;

    &:checked + .InputCheckboxLabel {
      &::before {
        color: var(--gray-10);
        background-color: var(--primary-main);
      }
    }
  } 
}

.InputCheckboxLabel {
  position: relative;
  font-size: var(--font-size-lg);
  padding-left: var(--size-small);
  user-select: none;

  &::before {
    content: "\ea10";
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    font-family: 'icomoon';
    color: transparent;
    width: var(--space-medium);
    height: var(--space-medium);
    border: 1px solid var(--gray-90);
    border-radius: var(--interface-size-sm);
  }
}