.InfoList {
  display: flex;
  margin: 0;
  gap: var(--space-medium);
  flex-direction: column;
  padding-left: 0;
  list-style: none;
}

.InfoListItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--space-medium);
}

.InfoListLink {
  color: var(--warning-hover);
}

.InStock,
.OutOfStock {
  padding-left: var(--interface-size-sm);
  padding-right: var(--interface-size-sm);
}

.InStock {
  background-color: var(--success-main);
}

.OutOfStock {
  background-color: var(--danger-main);
}