.CategoriesSliderItem {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: var(--size-extra-small);
	background-color: var(--gray-30);
	padding: var(--space-small);
	border-radius: var(--space-small);
	border: 2px solid transparent;
	transition: var(--transition-base);

	&:hover,
	&:focus {
		border-color: var(--gray-40);
	}
}

.CategoriesSliderImage {
	width: 250px;
	height: 250px;
	object-fit: cover;
}
