.Label {
  position: relative;
  &:not(:last-child) {
    margin-bottom: var(--size-small);
  }
}

.LabelName {
  cursor: pointer;
  margin-bottom: var(--space-extra-small);
  font-size: var(--font-size-lg);
}

.ErrorMessage {
  position: absolute;
  bottom: calc(var(--size-extra-small) * -1);
  left: 0;
  color: var(--danger-main);
  font-size: var(--font-size-sm);
}
