.Label {
	position: relative;
	&:not(:last-child) {
		margin-bottom: var(--size-small);
	}
}

.LabelName {
	margin-bottom: var(--space-extra-small);
	font-size: var(--font-size-lg);
	cursor: pointer;
}

.ErrorMessage {
	position: absolute;
	left: 0;
	bottom: calc(var(--size-extra-small) * -1);
	color: var(--danger-main);
	font-size: var(--font-size-sm);
}
